<div class="container">
    <div class="col-md-6">
        <h2>Agregar producto</h2>
        <form [formGroup]="createForm" (ngSubmit)="addProduct()">
            <div class="form-group">
                <label for="product">Producto</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="form-group">
                <label for="price">Precio</label>
                <input type="text" class="form-control" id="price" formControlName="price" type="number" min="0.5">
            </div>
            <div class="pt-3">
                <button type="submit" class="btn btn-success">Crear</button>
            </div>
        </form>
    </div>
</div>