<div class="site" *ngIf="responseStatus > 300">
    <div class="sketch">
        <div class="bee-sketch red"></div>
        <div class="bee-sketch blue"></div>
    </div>
    <div *ngIf="responseStatus === 401">
        <h1 class="h1-custom">Error 401: <small class="small-custom">No autorizado</small></h1>
    </div>
    <div *ngIf="responseStatus === 403">
        <h1 class="h1-custom">Error 403: <small class="small-custom">Prohibido</small></h1>
    </div>
    <div *ngIf="responseStatus === 500">
        <h1 class="h1-custom">Error 500: <small class="small-custom">Error interno del servidor</small></h1>
    </div>
</div>
<div class="col-md-12" *ngIf="responseStatus === 200">
    <div class="col-md-12">
        <div class="row">
            <div class="col-6">
                <h2>Lista de ordenes de compra</h2>
            </div>
            <div class="col-6 text-end">
                <a [routerLink]="['/purchase-orders/add/']"><span><i class="bi bi-plus-circle"
                            style="font-size: 35px;"></i></span></a>
            </div>
        </div>
        <hr>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha y hora</th>
                    <th>Cliente</th>
                    <th>Items</th>
                    <th>Total</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let purchaseOrder of purchaseOrders">
                    <td>{{ purchaseOrder.id }}</td>
                    <td>{{ purchaseOrder.date }}</td>
                    <td>{{ purchaseOrder.customer.customer }}</td>
                    <td>
                        <ul>
                            <li *ngFor="let item of purchaseOrder.items">
                                {{ item.quantity }} x {{ item.product.name }} ({{ item.product.price |
                                currency:'USD':'symbol' }} c/u)
                            </li>
                        </ul>
                    </td>
                    <td>{{ getTotal(purchaseOrder) | currency:'USD':'symbol' }}</td>
                    <td>
                        <a [routerLink]="['/purchase-orders/search/', purchaseOrder.id]" class="btn btn-primary">Consultar</a>
                        <span> &nbsp; </span>
                        <a [routerLink]="['/purchase-orders/update/', purchaseOrder.id]" class="btn btn-secondary">Editar</a>
                        <span> &nbsp; </span>
                        <a [routerLink]="['/purchase-orders/delete/', purchaseOrder.id]" class="btn btn-danger">Borrar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>