<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Agregar nueva orden de compra</h2>
            <hr>
            <form (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
                <div class="form-group pt-3">
                    <label for="customer">Cliente</label>
                    <select id="customer" name="customer" class="form-select" [(ngModel)]="purchaseOrder.customer"
                        required>
                        <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.customer}}</option>
                    </select>
                    <div class="invalid-feedback">
                        Por favor seleccione un cliente.
                    </div>
                </div>
                <div class="form-group pt-3">
                    <label for="items"><b>Productos</b></label>
                    <div class="row">
                        <div class="col-md-6" *ngFor="let item of purchaseOrder.items; let i = index;">
                            <div class="form-group pt-3">
                                <label for="product">Producto</label>
                                <select id="product" name="product" class="form-select" [(ngModel)]="item.product"
                                    required>
                                    <option *ngFor="let product of products" [ngValue]="product">{{product.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    Por favor seleccione un producto.
                                </div>
                            </div>
                            <div class="pt-3">
                                <p><b>Precio unitario {{ item.product.price | currency }}</b></p>
                            </div>
                            <div class="form-group pt-3">
                                <label for="quantity">Cantidad</label>
                                <input id="quantity" name="quantity" type="number" class="form-control"
                                    [(ngModel)]="item.quantity" min="1" required>
                                <div class="invalid-feedback">
                                    Por favor ingrese una cantidad válida.
                                </div>
                            </div>
                            <div class="pt-3">
                                <button type="button" class="btn btn-danger" (click)="removeItem(i)">Remover</button>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3">
                        <button type="button" class="btn btn-primary" (click)="addItem()">Agregar producto</button>
                    </div>
                </div>
                <div class="form-group pt-3">
                    <label for="total">Total</label>
                    <input id="total" name="total" type="number" class="form-control" [value]="getTotal()" min="0"
                        disabled>
                </div>
                <div class="pt-3">
                    <button type="submit" class="btn btn-primary">Crear orden de compra</button>
                </div>
            </form>
        </div>
    </div>