<section class="container my-5">
    <div class="row">
        <div class="col-md-12 pt-4 text-end">
            <img src="https://i.ibb.co/HYc9Lz8/Bedu-hsbc.png" alt="Bedu-hsbc"
                class="img-fluid img-bedu-hsbc rounded-3 w-50" />
            <div class="text-end">
                <p>
                    <small>Creado por: <b>Randy Allan</b></small>
                </p>
            </div>
        </div>
        <div class="col-12">
            <h2 class="text-center mb-5">¿Qué es este proyecto?</h2>
            <p class="lead">Este proyecto es una aplicación web para la gestión de ordenes de compra. Utiliza SpringBoot
                en el backend para el procesamiento de datos y Angular en el frontend para la presentación de la
                interfaz de usuario, además este proyecto se realizó a partir del curso de HSBC impartido por BEDU.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h2 class="text-center mb-5">Roles de usuario</h2>
            <p class="lead">La aplicación cuenta con tres niveles de usuario:</p>
            <ul>
                <li class="lead">Usuario: permisos de solo lectura.</li>
                <li class="lead">Moderador: permisos de lectura, creación y actualización.</li>
                <li class="lead">Administrador: permisos completos, incluyendo creación, actualización y eliminación.
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h2 class="text-center mb-5">Modelos de datos</h2>
            <p class="lead">La aplicación utiliza los siguientes modelos de datos:</p>
            <ul>
                <li class="lead">Customers: para agregar clientes.</li>
                <li class="lead">Product: para agregar productos.</li>
                <li class="lead">PurchaseOrder: para generar ordenes de compra.</li>
            </ul>
        </div>
    </div>
</section>